
   
*{
    padding: 0; margin: 0;
}
#particles-js{
    width: 100%;
    height: 500px;
    min-height: 400px;
    background-color: rgb(32, 28, 28);
    
}

body{
    padding: 0;
    margin: 0;
    
}
header{
    background-color: rgb(39, 36, 36);
    width: 100%;
    padding:0;
    color: white;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    
   
    line-height: normal;
    padding: 40px 0px;
    
}
/*line-height = para cambiar el tamaño de la caja de uina texto*/   
.menu{
    background-color: rgb(30, 38, 44);
    width: 98%;
    line-height: normal;
}
header .logo{
    font-size: 50px;
    float: left;
    padding-left: 20px;
    align-items: center;
    line-height: normal;
    position: relative;
    z-index: 99;
}
header nav{
    
    padding-right: 120px;
    align-items: center;
    display: inline;
    float: right;
    position: relative;
    z-index: 99;
} 
#buy a{
    background-color: chocolate;
    border-radius: 20px ;
}

header nav a{
    padding: 10px 0 0 0;
    
    display:inline-block;
    margin: 9px 16px;
    text-decoration: none;
    color : white;
    transition: all 500ms ease;
    -o-transition: all 500ms ease ;
    
}

header nav a:hover{
    background: rgb(163, 115, 25);
    border-radius: 20px;
    padding: 10px;

}
.letra{
    color: white;
}
.portada{
    text-align: center;
    
    margin: 90px 70px 0 70px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    
}
/*.crono{
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    overflow: auto;
    width: 100%;
    text-align: center;
    

}
.crono article{
    
    padding: 20px;
    
    display: inline-block;
    

}
.crono article ul{
    list-style: none;
}
.crono article ul li{
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 0 25px;
    font-size: 35px;
}

}*/

.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: rgb(211, 199, 199);
    background-color: rgb(51, 50, 50);
}

#cont{
    display: inline-block;
    width: 100%;
    background-color: aqua;
    margin: 0;
    text-align: center;
    font-weight: 900;
    
}

.simply-section{
    
    
    margin: 10px;
    padding: 20px;
    display: inline-block;
}
.simply-amount{
    display: block;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 35px;

}
.simply-word{
    font-family: Arial, Helvetica, sans-serif;
}
form{
    list-style: none;
    border: 2px solid black;
    padding: 30px 0;
    
}
.formulario{
    text-align: center;
    margin: 0 33%;
    border: 2px solid black;
    width: 300px;
    height: 300px;
}
